[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "==0.24.0"}
httpx = "==0.25.2"
pyjwt = "==2.8.0"
pydantic = "==2.5.0"
fastapi-limiter = "==0.1.5"
pyinstaller = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"